user                = "core"
ssh_key             = "ssh-ed25519 AAA..."
password            = "foobarbaz"
memory              = 4096
vcpus               = 1
storage             = 20
gitlab_runner_register_args = {
  registration-token = "",
  url = "https://gitlab.com/",
  executor = "shell",
  description = "shell-runner(fcos)",
  tag-list = "shell,fcos",
  locked = "false",
  run-untagged = "true"
}
